<div *ngIf="ticket"  class="ticket-display">

  <h2>Ticket Id: {{ ticket.id }}</h2>

  <h3>Title: </h3>
  <div class="ticket-title">
    {{ ticket.title }}
  </div>

  <h3>Category: </h3>
  <div class="ticket-category">
    {{ ticket.category }}
  </div>

  <h3>Description: </h3>
  <div class="ticket-description">
    {{ ticket.description }}
  </div>
</div>

<div *ngIf="!ticket" class="no-ticket-message">
  The ticket you're trying to show doesn't exist.
</div>

<p>
  <button class="back-button" (click)="goToList()">Back</button>
</p>
